@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #28ABE3;
    --bg-gray-color: #f0f8ff;
    --black-color: #232323;
    --gray-color: #848484;
    --white-color: #fff;
    --light-gray: #eee;

}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
p{
  font-size: 20px;
}

/* ==== custom design CSS ==== */
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background: var(--light-gray); 
} 
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
} 

.main-btn {
    margin-top: 2.5rem;
}

.main-btn button {
    background: var(--primary-color);
    padding: 0.725rem 1.75rem;
    color: var(--white-color);
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    cursor: pointer;
}
.main-btn button:hover{
  background-color: palevioletred;
  font-weight: bolder;
}

.text-center {
    text-align: center;
}

/* ==== header design ==== */
nav{
    position:fixed;
    width:100%;
    padding:1.25rem 0;
    z-index:999;
    transition:all 0.3s ease;
     
}
nav .navbar .logo a{
     color:var(--white-color);
     font-size:2rem;
     font-weight: 600;
}
nav .navbar .logo.active a{
     color:var(--black-color);
}
nav .navbar .logo_text{
     color:var(--primary-color);
}
nav.sticky{
    background-color:var(--white-color);
    padding:0.8rem 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
nav .navbar{
    width:85%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
}
nav .navbar .menu{
    display:flex;
    position:relative;
}
nav .navbar .menu li{
    list-style: none;
    margin:0 1rem;
}
nav .navbar .menu li a{
    font-size: 0.9rem;
    font-weight: 600;
    color:var(--white-color);
    padding:0.375rem 0;
    transition:all 0.4s ease;
    text-transform: uppercase;
    letter-spacing:0.0625rem;
}
nav .navbar .menu li a:hover{
    color:var(--primary-color);
}
nav.sticky .navbar .menu li a{
    color:var(--black-color);
}
nav.sticky .navbar .menu li a:hover{
    color:var(--primary-color);
}
/* ==== side menu ==== */
 nav .menu-btn,
 nav .menu .cancel-btn{
     position:absolute;
     color:var(--white-color);
     right:1.875rem;
     top:1.25rem;
     cursor:pointer;
     font-size: 1rem;
     transition:all 0.4s ease;
     display:none;
 }
 nav .menu-btn{
     color:var(--black-color);
 }

/* ==== top banner design ====*/
header .item {
    height: 100vh;
    position: relative;
  }
  header .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  header .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
  header .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
    left: 50px;
    top: 40px;
     
  }
  header .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  }
  header .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff;
  }
  header .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #b0a9f1;
  }
  header .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    background-color: #110b0b;
  }
  header .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
    
  }
   
  header .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
  }
  header .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
  }
  header .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }
  header .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
  }
  header .owl-nav .owl-prev:focus {
    outline: 0;
  }
  header .owl-nav .owl-prev:hover {
    background: #000 !important;
  }
  header .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }
  header .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
  }
  header .owl-nav .owl-next:focus {
    outline: 0;
  }
  header .owl-nav .owl-next:hover {
    background: #000 !important;
  }
  header:hover .owl-prev {
    left: 0px;
    opacity: 1;
  }
  header:hover .owl-next {
    right: 0px;
    opacity: 1;
  }
   

/* About us */
.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: rgb(15, 15, 15);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    right: -7px;
  }

  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px rgb(20, 19, 19), inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 22px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }



/*====== services ====== */
.services{
    background-color: rgb(233, 227, 227);
    
}
.sec-content{
  width:85%;
  margin:0 auto;
  padding:6.25rem 0;
}
.sec-title{
  text-align: center;
  margin-bottom:2rem;
  
}
.sec-title h2{
  font-size: 2.1875rem;
  font-weight: 600;
  color:var(--black-color);
  margin-bottom:0.5rem;
  line-height: 1.5625rem;
  
   
  
}
.sec-title {
  position:relative;
  color:var(--gray-color);
  margin:0 auto;
  width:50%;
  font-size: 1rem;
  line-height: 1.5625rem;
  padding-top: 20px;
}
.sec-title h2::after{
  content:'';
  position:absolute;
  width:15%;
  height:0.125rem;
  left:40%;
  bottom:-1.25rem;
  background:var(--primary-color);
}
.service-content{
  display:flex;
  justify-content:space-between;
  margin: o auto;
}
.sec-content .left{
  width:35%;
}
.sec-content .right{
  width:60%;
  display:flex; 
  flex-wrap: wrap;
  justify-content:space-between;
}

/*====== right box ====== */
.right .card{
  width:calc(100% / 2 - 1.25rem);
  text-align: center;
  padding:3.125rem 1.25rem;
  border:1px solid var(--light-gray);
  margin-bottom:2rem;
  transition:all 0.4s ease;
  cursor:pointer;
  background-color: rgb(223, 195, 158);
  
}
.right .card:hover{
  box-shadow: 0 5px 65px 0 rgba(0,0,0,0.05);
}
.right .card:hover .card-icon img{
  background: var(--white-color);
  color:var(--primary-color);
  margin-top: -35px;
}
/* .right .card .card-icon img {
  width:90px;
  height:80px;
  font-size: 1.875rem;
  background:var(--primary-color);
  color:var(--white-color);
  display:inline-block;
  line-height: 3.4375rem;
  margin-bottom:1.25rem;
  border-radius: 50%;
  transition:all 0.4s ease;
  box-shadow: 0 5px 6px rgba(0,0,0,0.05);
} */
.right .card .card-title h5{
  font-size:1.125rem;
  font-weight:600;
  margin-bottom:0.8rem;
  color:var(--black-color);
}
.right .card .card-title p{
  color:var(--black-color);
}
.right .card .card-title{
  font-size:1rem;
  color:var(--gray-color);
  line-height: 1.4375rem;
}
/* ==== lets review ==== */
 
  

.testimonial{
    max-width: 1200px;
    
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
     
  }
  .testimonial .box{
    background: rgb(102, 79, 79);
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .testimonial p{
      color:white;
  }
  .testimonial .box i.quote{
    font-size: 20px;
    color: #17a2b8;
  }
  .testimonial .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #17a2b8;
  }
  .box .info .stars{
    margin-top: 2px;
    
  }
  .box .info .stars i{
    color: #dbc230;
    font-size: 20px;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #17a2b8;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }
  @media (max-width: 1045px) {
    .testimonial .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .testimonial .box{
      width: 100%;
    }
  }



/* ===== Award winning ====== */
.award{
    background-color: rgb(238, 227, 227);
    margin-top: 50px;
    
}
.award .sec-title p::after{
    opacity:0;
}
.award .counter-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-align: center;
}
.award .counter-item .counter-text{
    position:relative;
    width:calc(100% / 4 - 1.25rem);
}
#counter{
    margin-top: 20px;
}

.award .counter-item .counter-text::before{
    background:#e5e5e5;
    content:'';
    margin-top:-1.3188rem;
    height:3.4375rem;
    width:0.0625rem;
    position:absolute;
    right:-0.9375rem;
    top:50%;
   
}
.award .counter-item .counter-text.border-none::before{
    background-color:transparent;
}
.award .counter-item i{
    font-size: 2.5rem;
    color:var(--primary-color);
    margin-bottom:0.5rem;
}
.award .counter-item span{
    display:block;
    font-size: 2.1875rem;
    font-weight: 600;
    color:var(--black-color);
    margin-bottom:0.5rem;
    color: rgb(164, 223, 4);
     
}
.award .counter-item h5{
    font-size:1.125rem;
    color:var(--bacolor);
    
}
 
 
 
/* ===== Footer design ===== */
.footer-design{
    background:var(--black-color);
}
.footer-design .footer-wiget{
    display:flex;
    justify-content:space-between;
}
.footer-wiget .footer-content{
    width:calc(100% / 4 - 1.25rem);
}
.footer-wiget .footer-content h3{
    color:var(--white-color);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom:1.5rem;
}
.footer-wiget .footer-content p{
    color:var(--white-color);
    font-weight: 400;
    font-size:0.875rem !important;
    line-height: 2rem;
    margin-right:2.5rem;
}
.footer-content ul{
    list-style: none;
}
.footer-wiget .footer-content ul li a{
    color:var(--bg-gray-color);
    font-weight: 400;
    font-size: 0.875rem !important;
    line-height: 2rem;
    margin-bottom:2.5rem;
}
.footer-wiget .footer-content ul li a:hover{
    color:var(--primary-color);
}
footer .mini-footer{
    border-top:1px solid var(--gray-color);
    background:var(--black-color);
    padding:2rem 0;
    text-align: center;
}
footer .mini-footer p{
    font-size: 13px;
    color:var(--gray-color);
    line-height: 1.5rem;
    letter-spacing:2px;
}
footer .mini-footer p a{
    font-size: 13px;
    color:var(--primary-color);
    line-height: 1.5rem;
    letter-spacing: 2px;
}

 
@media (max-width:1190px) {
    /* ====top banner design ====*/
    .home .top-banner .text p{
        width:50%;
    }

    /*======services====== */
    .sec-content{
        width:90%;
        padding:3.25rem 0;
    }
    .sec-title h2{
        font-size: 2rem;
    }

}

@media (max-width:1000px) {
    /* ====top banner design ====*/
    .home .top-banner .text h1{
        font-size: 2rem;
    }
}


@media (max-width:900px) {
    /* ====header design==== */
    nav .navbar{
        width:100%;
    }
    nav .navbar .menu{
        position:fixed;
        left:-100%;
        top:0;
        background-color:var(--white-color);
        height:100vh;
        max-width: 25rem;
        width:100%;
        padding-top:3.75rem;
        flex-direction: column;
        align-items:center;
        transition: all 0.5s ease;
    }
    nav .menu-btn,
    nav .menu .cancel-btn{
        display:block;
        color:var(--black-color);
    }
    nav .menu-btn{
        color:var(--white-color);
    }
    nav .menu-btn.active{
        color:var(--black-color);
    }
    .navbar.active .menu{
        left:0;
    }
    nav .navbar .menu li a{
        font-size: 1.4375rem;
        color:var(--black-color);
        display:block;
        margin:0.625rem 0;
        cursor:pointer;
    }
    /* ====top banner design ====*/
     .top-banner {
        width:100%;
    }
    header .item .cover .header-content h1{
      font-size: 40px;
    }
    header .item .cover .header-content .line{
      border: 0;
    }
    header .item .cover .header-content h4{
      margin-right: 30px;
    }

    /*======services====== */
    .sec-title p{
        width:80%;
    }

    /* =====Award winning====== */
    .award .counter-item{
        flex-wrap: wrap;
    }
    .award .counter-item .counter-text{
        width:calc(100% / 2 - 1.25rem);
        margin-bottom:1.5rem;
    }
    .award .counter-item .counter-text::before{
        background:transparent;
    }

    
    /* ===== Footer design===== */
    .footer-wiget .footer-content{
        width:calc(100% / 2 - 1.25rem);
        margin-bottom:1.5rem;
    }
    .footer-design .footer-wiget{
        flex-wrap: wrap;
    }
}

@media (max-width:750px) { 

    

    /*====== services ====== */
     .sec-content .left{
         width:100%;
         text-align: center;
     }
     .sec-content .right{
         width:100%;
         text-align: center;
     }
     .service-content{
         flex-direction: column;
     }
     .sec-content .right .card{
         width:100%;
     }
    
    /* ===== Award winning ====== */ 
    .award .counter-item{
        flex-direction: column;
    }
    .award .counter-item .counter-text{
        margin-bottom:2rem;
        width:100%;
    }

     

    /* ===== Footer design===== */
     .footer-design .footer-wiget{
         flex-direction: column;
     }
     .footer-design .footer-wiget .footer-content{
         width:100%;
         margin-bottom:1.875rem;
         text-align: center;
     }
}

@media (max-width:350px) {
    /* ====top banner design ====*/ 
    .header-content h1{
        font-size: 10px;
    }
}
        
      